{% import "question.html" as question_form %}
{% extends "navbar.html" %} 
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-8">
            <div class="card mt-5">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="quiz-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Info</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="quiz-tab" data-bs-toggle="tab" data-bs-target="#quiz-tab-pane" type="button" role="tab" aria-controls="quiz-tab-pane" aria-selected="false">Question</button>
                        </li>
                    </ul>
                    <form method="post">
                    {{ form.csrf_token }}
                    <input type="submit" class="form-control mt-2" value="Edit Quiz">
                    <div class="tab-content pt-3" id="quiz-content">
                        <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="justify-content-center align-items-center">
                                <label>Quiz Name</label>
                                <input type="hidden" name="quiz-id" id="quiz-id" value="{{ quiz.id }}">
                                <input type="hidden" name="quiz-no-q" id="quiz-no-q" value="{{ quiz.no_question }}">
                                {{ form.quiz_name(class="form-control", value=quiz.quiz_name) }}
                                <label class="mt-3">Tags</label>
                                <select id="tag" class="form-select" name="tag">
                                    {% for t in tag %}
                                        <option value="{{ t['id'] }}">{{ t['tag'] }}</option>
                                    {% endfor %}
                                </select>
                                <label class="mt-3">Difficulty</label>
                                {{ form.difficulty(class="form-select") }}
                                <label class="mt-3">Timer</label>
                                <select id="timer" class="form-select" name="timer">
                                    <option value="None">None</option>
                                    <option value="15">15s</option>
                                    <option value="30">30s</option>
                                    <option value="45">45s</option>
                                    <option value="60">60s</option>
                                    <option value="90">1m 30s</option>
                                    <option value="120">2m</option>
                                    <option value="150">2m 30s</option>
                                </select>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="quiz-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            Question
                            <div id="questions">
                                {% set que = namespace(q=0) %}
                                {% for q in question %}
                                    {% set que.q = que.q + 1 %}
                                    <div class="mt-3 subform" id="questions-{{ q }}" data-index="{{ q }}">
                                        <hr>
                                        <p id="questions-no_question">Question {{ (q|int + 1) }}</p>
                                        <input required type="hidden" class="form-control" id="questions-{{ q }}-no_question" name="questions-{{ q }}-no_question" value="{{ q }}">
                                        <input required type="text" class="form-control question" id="questions-{{ q }}-question" name="questions-{{ q }}-question" value="{{ question[q]['question'] }}">
                                        <p>Choices</p>
                                        <div id="questions-{{ q }}-choices">
                                        {% set ns = namespace(choice=0) %}
                                        {% for c in question[q]["choices"] %}
                                            <input type="text" class="form-control choice" id="questions-{{ q }}-choices-{{ ns.choice }}-choice" value="{{ c }}"
                                            name="questions-{{ q }}-choices-{{ ns.choice }}-choice" placeholder="choice" data-q="{{ q }}" data-choice="{{ ns.choice }}">
                                        {% set ns.choice = ns.choice + 1 %}
                                        {% endfor %}
                                        </div>
                                        <div class="mt-4">
                                            <button type="button" id="q-{{ q }}-add" class="form-control add-choice" data-q="{{ q }}" data-choice="{{ ns.choice }}">Add Choice</button>
                                            <button type="button" id="q-{{ q }}-remove" class="form-control remove-choice" data-q="{{ q }}" data-choice="{{ ns.choice - 1 }}">Remove Choice</button>
                                        </div>
                                        <p class="mt-3">Answer</p>
                                        <select class="form-select" id="questions-{{ q }}-answer" name="questions-{{ q }}-answer">
                                        {% set ns.choice = 0 %}
                                        {% for c in question[q]["choices"] %}
                                            {% if question[q]["answer"] == c %}
                                                <option id="questions-{{ q }}-answer-{{ ns.choice }}" name="questions-{{ q }}-answer" selected value="{{ ns.choice }}">{{ c }}</option>
                                            {% else %}
                                                <option id="questions-{{ q }}-answer-{{ ns.choice }}" name="questions-{{ q }}-answer" value="{{ ns.choice }}">{{ c }}</option>
                                            {% endif %}
                                        {% set ns.choice = ns.choice + 1 %}
                                        {% endfor %}
                                        </select>
                                        <hr>
                                    </div>
                                {% endfor %}
                            </div>
                            <div>
                                <button type="button" class="form-control" id="add-q">Add Question</button>
                                {% if que.q == 1 %}
                                <button type="button" class="form-control" id="remove-q" disabled>Remove Question</button>
                                {% else %}
                                <button type="button" class="form-control" id="remove-q">Remove Question</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    let q = {{ quiz.no_question - 1 }};

    let tag_var = "{{ tag_s.tag }}"
    let diff = "{{ quiz.difficulty }}"
    let timer = {{ quiz.timer }}

    function replaceTemplateIndex(value, oldIndex, newIndex) {
        //console.log(value, oldIndex, newIndex);
        return value.replace(oldIndex, newIndex);
    };

    function addForm() {
        let $templateForm = $('#questions-' + q);

        q = q + 1;

        if (q === 1) {
            $("#remove-q").removeAttr('disabled')
        }

        $("#quiz-no-q").val(q + 1)

        //console.log($templateForm)

        let $lastForm = $('.subform').last();
        //console.log(parseInt($lastForm.data('index')))

        let oldIndex = parseInt($lastForm.data('index'))
        let newIndex = oldIndex + 1

        let $newForm = $templateForm.clone();
        $newForm.attr('id', ("questions-" + newIndex));
        $newForm.attr('data-index', newIndex);

        $newForm.find('button, input, select, div, option, p').each(function(idx) {
            //console.log("do")
            var $item = $(this);

            if ($item.is('button') || $item.is('div')) {
                // Update labels
                $item.attr('data-q', newIndex)
                if (typeof($item.attr('id')) === "undefined") {
                    return;
                }
                $item.attr('id', replaceTemplateIndex($item.attr('id'), oldIndex, newIndex));
                return;
            }

            if ($item.is('p')) {
                if ($item.attr('id') === "questions-no_question") {
                    $item.html("Question " + (newIndex + 1))
                }
                return;
            }

            // Update other fields
            $item.attr('id', replaceTemplateIndex($item.attr('id'), oldIndex, newIndex));
            $item.attr('name', replaceTemplateIndex($item.attr('name'), oldIndex, newIndex));
            $item.attr('data-q', newIndex)

            if ($item.attr("type") === "hidden") {
                $item.attr('value', replaceTemplateIndex($item.attr('value'), oldIndex, newIndex));
            };

            if ($item.attr("class") === "form-control choice" || $item.attr("class") === "form-control question" || $item.attr("class") === "form-control mt-1 choice") {
                $item.val("")
            }

            if ($item.is('option')) {
                $item.val("")
                $item.html("")
            }
        });

        $('#questions').append($newForm);
    };


    function removeForm() {
        let templateForm = $('#questions-' + q);

        templateForm.remove()

        q = q - 1

        $("#quiz-no-q").val(q + 1)

        //console.log(q)

        if (q === 0) {
            $("#remove-q").attr('disabled', 'disabled')
        }
    }

    
    $(document).ready(function() {
        $("#add-q").click(addForm);
        $("#tag option[value="+ {{ quiz.tag_id }} +"]").prop('selected', true);
        $("#difficulty option[value='"+ diff +"']").prop('selected', true);

        if (timer == 0) {
            timer = "None"
        }

        $("#timer option[value='"+ timer +"']").prop('selected', true);


        $(".form-control.remove-choice").each( function () {
            let c = $(this).data('choice')

            if (c === 1) {
                $(this).attr('disabled', 'disabled')
            }
        })


        $(".form-control.add-choice").each ( function () {
            let c = $(this).data('choice')

            if (c === 4) {
                $(this).attr('disabled', 'disabled')
            }
        })

    });

    /*

    $(".form-control.add-choice").on("click", function() {
        let q_no = $(this).data('q')
        let c = $(this).data('choice')
        let div_id = "#questions-" + q_no + "-choice"

        let choices = $(div_id)
        let input = '<input type="text" class="form-control mt-1" '
        input += 'id="questions-' + q_no + '-choice-1-choice" name="questions-' + q_no + '-choice-' + c + '-choice">'
        let remove_b = '<button class="form-control remove-choice" data-q="' + q_no + '" data-choice="' + c + '">Remove</button>'
        choices.append(input + remove_b)

        if (c === 3) {
            $(this).attr('disabled', 'disabled')
        }

        $(this).attr("data-choice", (parseInt(c) + 1))
    });

    */

    $(document).on("click", ".form-control.add-choice" ,function(event) {
        let q_no = $(this).data('q')
        let c = this.dataset.choice
        //console.log(q_no, c)

        c = parseInt(c)
        let div_id = "#questions-" + q_no + "-choices"
        let ans = "#questions-" + q_no + "-answer"

        let choices = $(div_id)
        let input = '<input type="text" class="form-control mt-1 choice" '
        input += 'id="questions-' + q_no + '-choices-' + c + '-choice" name="questions-' + q_no + '-choices-' + c + '-choice"'
        input += ' placeholder="choice" data-q="' + q_no + '" data-choice="' + c + '">'
        choices.append(input)

        let ans_o = '<option id="questions-' + q_no + '-answer-' + c + '" name="questions-' + q_no + '-answer"></option>'

        $(ans).append(ans_o)

        if (c === 3) {
            $(this).attr('disabled', 'disabled')
        }

        $(this).attr("data-choice", (c + 1))
        $("#q-" + q_no + "-remove").attr("data-choice", c)

        if (c === 2) {
            $("#q-" + q_no + "-remove").removeAttr("disabled")
        }
    });

    $(document).on("change", ".choice", function() {

        let c = $(this).data('choice')
        
        let id = "#questions-" + $(this).data('q') +  "-answer-" + c
        $(id).val(parseInt(c))
        $(id).html($(this).val())
    })

    $(document).on("click", ".form-control.remove-choice", function() {
        let q_no = $(this).data('q')
        let c = this.dataset.choice

        let add = "#q-" + q_no + "-add"
        let choice = "#questions-" + q_no + "-choices-" + c + "-choice"

        let ans_o = '#questions-' + q_no + '-answer-' + c
        $(ans_o).remove()

        if (c === "3") {
            $(add).removeAttr('disabled')
        }

        $(choice).remove()
        $(add).attr("data-choice", c)
        $(this).attr("data-choice", (c - 1))

        if ((c - 1) === 1) {
            $(this).attr('disabled', 'disabled')
        }

    })

    $(document).on("click", "#remove-q", removeForm)
</script>

{% endblock script %}