{% extends 'navbar.html' %}
{% block content %}
    <div class="container-fluid p-4">
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="container-fluid p-4" id="quiz">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                <div class="accordion" id="my-quiz-all">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#my-quiz" aria-expanded="true" aria-controls="my-quiz">
                                My Quiz(s)
                            </button>
                        </h2>
                        <div id="my-quiz" class="accordion-collapse collapse show" data-bs-parent="#my-quiz-all">
                            <div class="accordion-body">
                                <div class="list-group" id="my-quiz-list">
                                    {% if my_quiz %}
                                        {% for quiz in my_quiz %}
                                            <a href="/quiz/{{ quiz.id }}" class="list-group-item list-group-item-action">{{ quiz.quiz_name }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="#" class="list-group-item list-group-item-action">Don't have any quizs yet</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion pt-3" id="other-quiz-all">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#other-quiz" aria-expanded="true" aria-controls="other-quiz">
                                Other Quiz(s)
                            </button>
                        </h2>
                        <div id="other-quiz" class="accordion-collapse collapse show" data-bs-parent="#other-quiz-all">
                            <div class="accordion-body">
                                <div class="list-group" id="other-quiz-list">
                                    {% if other_quiz %}
                                        {% for quiz in other_quiz %}
                                            <a href="/quiz/{{ quiz.id }}" class="list-group-item list-group-item-action">{{ quiz.quiz_name }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="#" class="list-group-item list-group-item-action">Don't have any quizs yet</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="search">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form method="post" id="advance-search" action="/search">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control advance-search" name="quiz_name" id="name" placeholder="">
                                <label for="quiz_name">Quiz Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" name="tag">
                                    {% for t in tag %}
                                        <option value="{{ t['id'] }}">{{ t['tag'] }}</option>
                                    {% endfor %}
                                </select>
                                <label for="tag">Tag</label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Time Limit
                                </label>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                            <br>
                            <p>Difficulty</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficulty" id="difficulty1" value="hard">
                                <label class="form-check-label" for="difficulty1">Hard</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficulty" id="difficulty2" value="normal">
                                <label class="form-check-label" for="difficulty2">Normal</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="difficulty" id="difficulty3" value="easy">
                                <label class="form-check-label" for="difficulty3">Easy</label>
                              </div>
                            <br><br>
                            <input class="btn btn-secondary" type="submit" value="search">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        $("#play-nav").attr("class", "nav-link active")
    })
</script>

{% endblock %}